* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: inherit;
	text-decoration: none;
	list-style: none;
}

.main-nav {
	background-color: transparent;
}

.container {
	width: 1090px;
	max-width: 100%;
	padding: auto 15px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

.more {

  font-size: 22px;
  font-weight: bold;
  color:blue;
      
    }
    .bold {
      font-size: 20px;
      font-weight:600;
      }
    

.main-header .container {
	display: flex;
	align-items: center;
	text-align: justify;
	/* justify-content: ; */
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}

.main-nav li {
	display: inline;
}

.main-nav a {
	display: inline-block;
	padding: 10px 20px;
}

.navbar a {
	color: #0A0A0A;
	font-size: 25px;
	font-weight: bold;
	font-family: 'BPG Boxo-Boxo';
	font-family: "BPG Nateli", sans-serif;
}

.navbar .active {
	border-radius: 40px;
	background-color: #64C1B1;
	color: #FFFFFF;
}

@media (min-width: 1090px) {
	.main-header .container {
		justify-content: space-between;
	}
}


/* banner */

.banner {
	background-image: url("../assets/mb.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	text-align: center;
	position: relative;
	width: 100%;
}


/* background: url("../bannerz-01.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

.eco-text {
	font-family: "ArchyEDT-Bold", sans-serif;
}

.inner {
	min-height: 600px;
	position: relative;
	margin-bottom: 110px;
}


/* .banner .inner {
  background: rgba(0, 0, 0, 0.7)
} */

.text1 {
	position: absolute;
	top: 35%;
	text-align: left;
	height: 10em;
	margin-top: -5em;
}

.banner h1 {
	color: #0A0A0A;
	line-height: 1;
	font-weight: bolder;
}

.banner p {
	color: #0f0e0e;
	line-height: 1;
	font-weight: bold;
	font-family: "BPG Nateli", sans-serif;
}

.banner-text {
	font-family: "ArchyEDT-Bold", sans-serif;
	margin: 0px;
	font-weight: 900;
	font-size: 60px;
}

.eco-text1 {
	font-size: 50px;
	color: white;
}

.banner-p {
	padding-top: 20px;
	font-size: 25px;
}


/* about */

.section2 {
	background-color: #fafafa;
}

.about {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-bottom: 50px;
}

.section2__header {
	font-family: "ArchyEDT-Bold", sans-serif;
	margin-top: 90px;
	font-size: 35px;
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 5px solid #64C1B1;
}

.about {
	margin-top: 100px;
}

.section2__description {
	font-size: 20px;
	font-family: "BPG Nateli", sans-serif;
	font-weight: 500;
	text-align: center;
	/* text-align: justify;
  justify-content: center; */
	margin-top: 20px;
	padding: 10px 15px 70px 10px;
}



.btn1 {
	width: 260px;
	height: 60px;
	color: #fff;
	border-radius: 35px;
	border: none;
	background-color: #64C1B1;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
	cursor: pointer;
	font-family: "ArchyEDT-Bold", sans-serif;
}
.about-header {
	font-size: 35px;
	font-family: "ArchyEDT-Bold", sans-serif;
	margin-bottom: 10px;
	font-weight: bold;
	margin-top: 30px;
	text-align: center;
	/* background-color: #64C1B1;
    padding-left: 10px ;
    text-align: center;
    border-radius: 10px; */
}
.span-text {
	color: #64C1B1;
	background-color: transparent;
}
.btn-text {
	position: relative;
	font-size: 20px;
	font-weight: bold;
	font-family: "ArchyEDT-Bold", sans-serif;
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border: 2px solid #64C1B1;
	padding: 8px 10px;
	border-radius: 10px;
}
.btn-text:hover {
	background-color: #64C1B1;
}

/* ecoguide */
.eco {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-bottom: 200px;
}
.eco .eco__header {
	margin-top: 50px;
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 35px;
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 5px solid #64C1B1;
}
.eco .eco__description {
	font-family: "BPG Nateli", sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 60px;
	margin-left: 50px;
	margin-right: 50px;
}
.eco_section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 35px;
}
@media (min-width: 600px) and (max-width: 1090px) {
	.eco_section {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}
@media (max-width: 600px) {
	.eco_section {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}
.eco__item {
	box-sizing: border-box;
	background-color: #fdf9ff;
	margin: 5px auto;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 5px 5px 20px 7px rgb(0 0 0 / 20%), -5px -5px 30px 7px rgb(0 0 0 / 22%);
	cursor: pointer;
	transition: 0.4s;
}
@media (max-width: 350px) {
	.eco__item {
		padding: 20px;
	}
}
.eco__item:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition: 1s ease;
}
.eco__item .item__name {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: -0.4px;
	width: 100%;
	text-decoration: none;
	font-family: "ArchyEDT-Bold", sans-serif;
	padding: 15px;
	top: 100%;
	left: 100%;
	transition: transform 0.5s ease;
	color: #0A0A0A;
}
.eco__item .eco__description {
	font-weight: 300;
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 14px;
	letter-spacing: 0.15px;
	line-height: 25px;
}
.eco-image {
	position: relative;
	width: 100%;
	transition: transform 0.5s ease;
	border-radius: 10px 10px 0px 0px;
}

/* .eco-image:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    } */

/* banner */
.hero {
	background: url("../assets/mb.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
	position: relative;
	width: 100%;
}
.hero .innerb {
	background: rgba(0, 0, 0, 0.7)
}
.innerb {
  margin-top: 70px;
  margin-bottom: 50px;
	min-height: 450px;
	position: relative;
}
.copy {
	position: absolute;
	top: 50%;
	height: 10em;
	margin-top: -5em;
	width: 100%;
}
.hero h1,
.hero p {
	color: #fff;
}
.content h1,
.content p {
	color: #333;
}
.banner_h1 {
	margin: 0px;
	font-weight: 400;
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 32px;
	padding: 0px 20px;
}
.banner-p1 {
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 14px;
	padding: 0px 20px;
}

/* contact */
.form {
	display: flex;
	margin-bottom: 20px;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 100px;
}
.form input {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	height: 40px;
	line-height: 40px;
	margin: 0 15px;
	padding: 0 20px;
	width: 50%;
	color: #606060;
}
.message textarea {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e1e1e1;
	margin-bottom: 22px;
	min-height: 155px;
	padding-left: 20px;
	padding-top: 12px;
}
.contact {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.ct {
	margin-top: 50px;
	font-size: 35px;
	font-family: "ArchyEDT-Bold", sans-serif;
	/* display: table; */
	
	justify-content: center;
	;
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 5px solid #64C1B1
}
.contact-form {
	width: 1090px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
	margin: 100px;
}
textarea {
	resize: none;
	background: #64C1B1;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}



.section {
	background-color: #fafafa;
	/* min-height: 100vh; */
	display: block;
}
.section .container {
	padding-top: 60px;
	padding-bottom: 70px;
}
.section-title {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 35px;
}
.section-title h2 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	position: relative;
}
.section-title h2::before {
	content: '';
	height: 4px;
	width: 50px;
	position: absolute;
	top: 100%;
	left: 0;
}
.container {
	max-width: 1100px;
	width: 100%;
	margin: auto;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	position: relative;
}
.padd-15 {
	padding-left: 15px;
	padding-right: 15px;
}

/** Blog **/
.blog .container {
	padding: 40px;
}
.blog .blog-item {
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	margin-bottom: 30px;
}
.blog .blog-item-inner {
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #d4d4e3;
}
.blog .blog-item-inner .blog-img {
	position: relative;
	overflow: hidden;
	height: 210px;
}
.blog .blog-item-inner .blog-img img {
	width: 100%;
	display: block;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 100%;
	filter: saturate(55%);
}
.blog .blog-item-inner:hover .blog-img img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	filter: saturate(130%);
}
.blog .blog-item-inner .blog-img .blog-date {
	position: absolute;
	padding: 4px 10px;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	left: 15px;
	bottom: 15px;
	background-color: #64C1B1;
}
.blog .blog-item-inner .blog-info {
	padding: 30px 15px;
	background-color: #fdf9ff;
}
.blog .blog-item-inner .blog-info .blog-title {
	font-size: 18px;
	font-weight: 700;
	color: #302e4d;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.blog .blog-item-inner .blog-info .blog-description {
	font-size: 16px;
	line-height: 25px;
	color: #504e70;
	font-weight: 400;
	margin-bottom: 15px;
}
.blog .blog-item-inner .blog-info .blog-tags {
	font-size: 14px;
	line-height: 25px;
	color: #504e70;
	font-weight: 400;
	text-transform: capitalize;
}
.blog .blog-item-inner .blog-info .blog-tags a {
	text-decoration: none;
	font-weight: 600;
	color: #64C1B1;
}

/** Responsive **/
@media (max-width: 1024px) {
	.blog .blog-item {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (max-width: 768px) {
	.blog .blog-item {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 50%;
	}
}
@media (max-width: 480px) {
	.blog .blog-item {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}


@media (max-width: 768px) {
	.burger-icon {
		display: block;
	}
	
	.logo {
		align-items: center;
	}
	/* .main-nav{
   display: none;
 }
  */
}
* {
	box-sizing: border-box;
}
.column {
	width: 50%;
	height: auto;
	padding: 0px 10px 0px 10px;
}
.row1 {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}
.image-about {
	width: 100%;
}
.about-description {
	text-align: left;
	font-size: 20px;
	font-family: "BPG Nateli", sans-serif;
	font-weight: 500;
	text-align: justify;
  line-height: 1.5;
}
.column:nth-child(3n) {
	width: 100%;
	margin-bottom: 20px;
}
.bg {
	background-image: linear-gradient(360deg, rgba(100, 193, 177, 0.8855917366946778) 0%, rgba(241, 240, 250, 0.2189250700280112) 100%), url(/assets/mb.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-position:center; */
	
	background-size: cover;
	height: 250px;
	position: relative;
	text-align: center;
	color: rgb(26, 22, 22);
	margin-bottom: 100px;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "BPG nateli", sans-serif;
	font-size: 50px;
	font-weight: bold;
}
.about-h2 {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}


iframe {
	width: 100%;
	height: 450px;
}
@media (max-width: 768px) {
	.text1 {
		position: absolute;
		top: 32%;
		left: 0%;
		right: 0%;
		text-align: center;
		justify-content: center;
		/* margin: 0px 10px 50px 40px; */
	}
	
	.banner h1 {
		color: #0f0303;
		line-height: 1;
		font-weight: bolder;
	}
	
	.eco-text1 {
		font-size: 50px;
		color: #64C1B1;
	}
	
	.banner-p {
		padding-top: 20px;
		font-size: 25px;
	}
	
	.main-header .container {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	.main-nav ul {
		margin: 1em 0 .5em;
		text-align: center;
	}
	
	.main-nav li {
		display: inline;
	}
	
	.main-nav a {
		display: inline-block;
		padding: 5px 15px;
	}
	
	.navbar a {
		color: #0A0A0A;
		font-size: 20px;
		font-weight: bold;
		font-family: 'BPG Boxo-Boxo';
		font-family: "BPG Nateli", sans-serif;
	}
	
	.navbar .active {
		border-radius: 30px;
		background-color: #64C1B1;
		color: #FFFFFF;
	}
	
	.navbar:hover {
		color: w;
	}
	
	.column {
		width: 100%;
		height: auto;
		padding: 0 20px;
	}
	
	.bg {
		height: 210px;
	}
	
	.row1 {
		width: 100%;
	}
	
	.about-description {
		font-size: 18px;
	}
	
	.section2__description {
		font-size: 18px;
		padding: 0px 30px 40px 30px;
		text-align: justify;
	}
	
	iframe {
		width: 100%;
		height: 400px;
		margin-top: 10px;
	}
}
@media (max-width: 480px) {
	.column {
		width: 100%;
		height: auto;
	}
	
	.bg {
		height: 200px;
	}
	
	.row1 {
		width: 100%;
	}
	
	.about-description .section2__description {
		font-size: 14px;
	}
	
	.centered {
		font-size: 35px;
	}
	
	.inner {
		min-height: 450px;
		margin: 20px;
	}
	
	.text1 {
		position: absolute;
		top: 32%;
		left: 0%;
		right: 0%;
		text-align: center;
		justify-content: center;
		/* margin: 0px 10px 50px 40px; */
	}
	
	.banner h1 {
		color: #0f0303;
		line-height: 1;
		font-weight: bolder;
		font-size: 40px;
	}
	
	.eco-text1 {
		font-size: 40px;
		color: #64C1B1;
	}
	
	.banner-p {
		padding-top: 14px;
		font-size: 15px;
	}
	
	.main-header .container {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	.navbar a {
		color: #0A0A0A;
		font-size: 20px;
		font-weight: bold;
		font-family: 'BPG Boxo-Boxo';
		font-family: "BPG Nateli", sans-serif;
	}
	
	.navbar .active {
		border-radius: 30px;
		background-color: #64C1B1;
		color: #FFFFFF;
	}
}

/* footer */
.footer {
	height: 120px;
	background-color: #0e0f0f;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	margin-top: 100px;
}
.footer-list {
	text-align: center;
}